<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo - SEEDF</title>
    <link rel="stylesheet" href="../src/assets/css/style.css">
</head>
<body>
    <div class="auth-container">
        <header class="auth-header"></header>
        <main class="auth-main">
            <div class="auth-form-wrapper">
                <img src="../assets/img/logo-seedf.png" alt="Logo GDF - É tempo de ação" class="logo">
                <div class="splash-text">
                    SEEDF
                    <small>Secretaria de Estado de Educação do Distrito Federal</small>
                </div>
                
                <div class="splash-actions">
                    <a href="login.html" class="btn btn-yellow">Login</a>
                    <a href="register.html" class="sub-link">Clique aqui para registrar sua conta</a>
                </div>
            </div>
        </main>
    </div>
</body>
</html>